// Media
@mixin media($w) {
	@media(max-width: $w) {
		@content;
	}
}

@mixin xl{
	@media(max-width: $xl) {
		@content;
	}
}

@mixin lg{
	@media(max-width: $lg) {
		@content;
	}
}

@mixin md{
	@media(max-width: $md) {
		@content;
	}
}

@mixin sm{
	@media(max-width: $sm) {
		@content;
	}
}

@mixin xs{
	@media(max-width: $xs) {
		@content;
	}
}