<template>
  <section class="blogs">
    <div class="banner-wrapper">
      <i class="fas fa-angle-left" @click=" $router.push({name: 'Post', params: { postId: id - 1 }})"></i>
      <div class="banner" :style="`background-image: url(${post.img})`"></div>
      <i class="fas fa-angle-right"></i>
    </div>
    <h1 class="blog-title">{{ post.title }}</h1>
    <h4 class="desc">{{ post.text }}</h4>
		<span>{{this.id}}</span>
    <button class="btn" @click="$router.push({ name: 'Blog' })">назад</button>
  </section>
</template>

<script>
import Title from "@/layouts/Title";
import blogs from "../../../blog_posts.js";
export default {
  components: {
    props: {
      id: Number,
    },

    Title,
  },

  data() {
    return {
      title: "JEWELLERY BLOG",
      subtitle: "Articles by Australian designer Simone Walsh",
      blog: blogs,
      postId: this.$route.params.postId,
    };
  },

  computed: {
    
    post() {
      // console.log(this.blog);
      // console.log(id);
      return this.blog.find((post) => post.id === this.postId);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../../assets/styles/components/_mixins.scss";
@import "../../../assets/styles/components/_vars.scss";
nav {
  background: #000;
}

.blogs {
  width: 70%;
  margin: 80px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .banner-wrapper {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
      font-size: 40px;
      margin: 0 5px;
    }
  }
  .banner {
    width: 100%;
    max-width: 800px;
    // height: 100%;
    height: 450px;
    border-radius: 10px;
    background: #ccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    // MEdia
    @include md {
      height: 300px;
    }
  }

  .blog-title {
    font-size: 30px;
    margin: 15px 0;
  }

  .btn {
    width: 200px;
    height: 50px;
    margin: 50px auto;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 35px;
    color: #ffffff;
    background: #333333;
    border: 1px solid #3333;
    text-transform: uppercase;
  }
}
</style>