<template>
  <footer class="about" id="about">
    <div class="container">
      <div class="about-wrapper">
        <div class="top">
          <!-- box -->
          <div class="box">
            <h1 class="box-title">{{ top_array[0].title }}</h1>
            <ul class="links">
              <li v-for="li in top_array[0].info" :key="li">{{ li }}</li>
            </ul>
          </div>
          <!-- box -->
          <div class="box">
            <h1 class="box-title">{{ top_array[1].title }}</h1>
            <p>{{ top_array[1].subtitle }}</p>
            <div class="icons">
              <img
                :src="icon"
                alt=""
                v-for="icon in top_array[1].logo"
                :key="icon"
              />
            </div>
          </div>
          <!-- box -->
          <div class="box">
            <h1 class="box-title">{{ top_array[2].title }}</h1>

            <div
              v-for="(item, idx) in top_array[2].contacts"
              :key="idx"
              class="item"
            >
              <span v-html="item.icon"></span>
              <span> {{ item.info }} </span>
            </div>
          </div>
          <!-- box -->
          <div class="box">
            <h1 class="box-title">{{ top_array[3].title }}</h1>
            <p>{{ top_array[3].subtitle }}</p>
            <div class="icons">
              <span
                v-for="icon in top_array[3].socials"
                :key="icon.social"
                v-html="icon"
              ></span>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="text">
            <p v-for="text in bottom_array" :key="text.title">
              {{ text.title }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      top_array: [
        {
          title: "Полезные ссылки",
          info: {
            delivery: "Доставка",
            pay: "Оплата ",
            stock: "Акции",
            privacy: "Политика конфиденциальности",
          },
        },
        {
          title: "оплата",
          subtitle:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.",
          logo: {
            img: require("../../../assets/images/footer/visa.png"),
            img2: require("../../../assets/images/footer/mastercard.png"),
          },
        },
        {
          title: "контакты",
          contacts: [
            {
              icon: `<i class="fa-solid fa-square-phone-flip"></i>`,
              info: "8 (812) 234-56-55",
            },
            {
              icon: `<i class="fa-solid fa-square-phone-flip"></i>`,
              info: "8 (812) 234-56-55",
            },
            {
              icon: `<i class="fa-solid fa-envelope"></i>`,
              info: "ojjo@ojjo.ru",
            },
          ],
        },
        {
          title: "социальные сети",
          subtitle:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.",
          socials: {
            social: `<i class="fa-brands fa-youtube"></i>`,
            social2: `<i class="fa-brands fa-vk"></i>`,
            social3: `<i class="fa-brands fa-facebook-f"></i>`,
            social4: `<i class="fa-brands fa-telegram"></i>`,
            social5: `<i class="fa-solid fa-e"></i>`,
          },
        },
      ],
      bottom_array: [
        {
          title: "(c) 2020 OJJO jewelry",
        },
        {
          title: "Договор публичной офферты",
        },
        {
          title: "Контрагентам",
        },
        {
          title: "Сделано Figma.info",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
@import "../../../assets/styles/components/_vars.scss";
@import "../../../assets/styles/components/_mixins.scss";

i {
  background-color: red;
  // transform: translateZ(1);
  // margin-bottom: 20px;
  // transform: scale(2);
  font-size: 50px;
                cursor: pointer;

}
.about {
  background: $white;
  padding: 20px 0 80px;

  .container {
    .about-wrapper {
      .top {
        display: flex;
        align-items: flex-start;
        gap: 30px;

        @include media(730px) {
          flex-wrap: wrap;
          justify-content: center;
          text-align: center;
        }

        .box {
          width: 255px;
          max-width: 255px;

          span {
            cursor: pointer;
          }

          &:nth-child(2) {
            .icons {
              margin-top: 20px;
              display: flex;
              gap: 25px;

              @include media(730px) {
                justify-content: center;
              }
            }
          }

          &:nth-child(3) {
            .item {
              margin-bottom: 20px;
              display: flex;
              gap: 20px;
              // text-align: left;

              @include media(730px) {
                justify-content: center;
              }

              span {
                display: flex;
                align-items: center;
              
              }
            }
          }

          &:nth-child(4) {
            .icons {
              margin-top: 20px;
              display: flex;
              justify-content: space-between;
              gap: 30px;
              span {
                &:hover {
                  // scale: 10;
                  transform: scale(2);
                }
                i {
                  width: 100%;
                  height: 100%;
                  font-size: 50px;

                  // WTF
                }
              }
            }
          }

          .box-title {
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            width: 100%;
            text-align: left;
            border-bottom: 1px solid $dark;
            padding-bottom: 10px;
            margin-bottom: 30px;

            @include media(730px) {
              text-align: center;
            }
          }

          p {
            font-size: 14px;
            line-height: 21px;
            color: $dark;
          }

          .links {
            gap: 15px;
            display: flex;
            flex-direction: column;

            li {
              // font-weight: 600;
              font-size: 14px;
              line-height: 21px;
              color: $dark;
            }
          }
        }
      }

      .bottom {
        width: 100%;
        margin-top: 60px;
        border-top: 1px solid $dark;
        padding: 20px 0;

        .text {
          display: flex;
          justify-content: space-between;

          @include media(730px) {
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 10px;
            text-align: center;
          }

          p:last-child {
            font-weight: 600;
            text-decoration-line: underline;
            text-align: right;
          }
        }
      }
    }
  }
}
</style>