<template>
  <footer class="email">
    <section class="footer-header">
      <div class="footer-info">
        <p class="footer-sub">Полезные советы и персональный предложения</p>
        <h3 class="footer-title">Эксклюзивная рассылка</h3>
      </div>
      <ul class="add-info">
        <li v-for="one in 3" :key="one">
          <img src="../../../assets/images/footer/subscribe__icon.png" alt="" />
          Доставка и оформление
        </li>
      </ul>
      <form @submit.prevent="sendMail">
        <div class="wrapp">
          <input type="text" v-model="message" placeholder="Ваш e-mail" />
          <button type="submit"  :disabled="isLoading">
            {{ isLoading ? 'подождите!' : 'отправить'}}
          </button>
        </div>
      </form>
    </section>
    <p class="alert" v-show="alert" >{{ alert }}</p>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      token: "5127766316:AAE-Mv-s77XlkVRfhjlRYGN6wk9qLnn5cbM",
      chatId: "-799143421",
      message: "",
      alert: "",
      isLoading: false,
    };
  },
  methods: {
    async sendMail() {
      this.isLoading = true
      this.alert = 'sending'
      // const sms = JSON.stringify(this.message);
      const sms = this.message.toString();
      await fetch(
        `https://api.telegram.org/bot${this.token}/sendMessage?chat_id=${this.chatId}&parse_mode=html&text=${sms}`
      );
      this.alert = "the message has been sent successfully!";
      this.message = "";
      setInterval(() => {
        this.alert = "";
        this.isLoading = false
      }, 5000);
      

    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../../assets/styles/components/_mixins.scss";
@import "../../../assets/styles/components/_vars.scss";

.email {
  padding: 100px 120px;
  background: url("../../../assets/images/footer/footer-top.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px 80px;

    .footer-info {
      width: 100%;
      text-align: center;
      color: #ffffff;

      .footer-sub {
        font-size: 21px;
        line-height: 29px;
        margin-bottom: 15px;
      }

      .footer-title {
        font-weight: bold;
        font-size: 30px;
        line-height: 41px;
      }
    }

    .add-info {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 15px;
      color: #fff;

      li {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }

    form {
      background: black;
      display: flex;
      justify-content: center;
      border: 1px solid white;
      padding: 14px 15px;
      width: 100%;
      max-width: 448px;
      height: 113px;

      @include media(465px) {
        width: 100%;
        // max-width: 350px;
        height: 100%;
      }

      .wrapp {
        gap: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 22px;
        background: #fff;
        width: 100%;
        max-width: 418px;
        height: 85px;

         @include media(465px) {
        width: 100%;
        flex-direction: column;
        height: 100%;
}
      }

      button {
        padding: 14.5px 35px;
        background: #333;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 14px;
        width: 166px;

        &:disabled {
          background-color: green;
        }

        @include media(465px) {
          // width: 100%;
          width: 130px;
          text-align: center;
          padding: 10px;
        }
      }

      input {
        padding: 15px 20px;
        width: 200px;
        height: 45px;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid #d6d6d6;
        color: rgba(51, 51, 51, 0.5);

         @include media(300px) {
        text-align: center;
      }
      }
    }
  }

  .alert {
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
    top: 25%;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #fff;
    background: rgb(131, 129, 129);
    border: 2px solid #fff;
    padding: 30px;
    // line-height: 80px;
    // height: 80px;
  }
}
</style>