<template>
  <MainSection />
  <Event />
  <Salons />
  <HomeBlog />
  <SendMail />
  <About />
</template>

<script>
import MainSection from "./components/Main-section";
import Event from "./components/Event";
import Salons from "./components/Salons";
import HomeBlog from "./components/HomeBlog";
import SendMail from "./components/SendMail.vue";
import About from "./components/About.vue";

export default {
  components: {
    MainSection,
    Event,
    Salons,
    HomeBlog,
    SendMail,
    About,
  },
};
</script>