<template>
  <div class="search-bar" :class="{ active: isActive }">
    <div class="block">
      <i class="fas fa-search"></i>
      <input
        v-model="params"
        @input="getQuery"
        type="text"
        placeholder="Search..."
      />
    </div>
    <div class="close-btn" @click="$emit('closeSearchBar')">
      <i class="fas fa-times"></i>
    </div>
  </div>
  <!-- LIST -->
  <div class="results-list" :class="{ active: isActive && showList }">
    <template v-if="getRequest.length">
      <div
        v-for="post in getRequest"
        :key="post.id"
        class="item"
        @click="goToThePost(post.id)"
      >
        <img :src="post.img" :alt="post.title" />
        <p>{{ post.title.trim() }}</p>
      </div>
    </template>
    <div class="item" v-else>
      <p>Нет результатов!</p>
    </div>
  </div>
  <!--  -->
</template>

<script>
import blog from "@/blog_posts.js";

export default {
  props: {
    isActive: {
      type: Boolean,
      default: () => false,
    },
  },

  data() {
    return {
      posts: blog,
      params: "",
      showList: false,
    };
  },

  methods: {
    getQuery() {
      if (this.params.length === 0) {
        this.showList = false;
        return;
      }
      this.showList = true;
    },
    goToThePost(id) {
      this.$router.push({ name: "Post", params: { postId: id } });
      this.$emit("closeSearchBar");
      this.showList = false;
    },
  },

  computed: {
    getRequest() {
      const inner = this.params.toLowerCase();
      return this.posts.filter((item) =>
        item.title.toLowerCase().includes(inner.trim())
      );
    },
  },
};
</script>

<style lang="scss">
@import "../assets/styles/components/_vars.scss";
@import "../assets/styles/components/_mixins.scss";

.results-list {
  transition: 1s;
  position: fixed;
  z-index: 9999;
  top: 100px;
  left: 50%;
  transform: translateX(-50%) translateY(0%);

  width: 500px;
  // max-height: 380px;
  overflow-y: scroll;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  max-height: 0;
  box-shadow: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.active {
    transition: 0.5s;
    // transform: translateX(-50%) translateY(0%);
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    background: black;
    max-height: 354px;
  }

  .item {
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    &:last-child {
      border: none;
    }

    // overflow: hidden;
    cursor: pointer;
    &:hover {
      transition: 0.5s;

      background: #fff;
      p {
        color: #000;
      }
    }

    img {
      min-width: 50px;
      height: 50px;
      object-fit: cover;
      margin-right: 15px;
    }

    p {
      font-weight: 600;
      color: #fff;
    }
  }
}

.search-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($black, $alpha: 0.9);
  z-index: 9999999;
  transform: translateY(-100%);
  transition: 0.5s;

  &.active {
    transform: translateY(0);
  }

  .block {
    width: 100%;
    max-width: 400px;
    background: $white;
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;

    i {
      color: $dark;
      font-size: 20px;
    }

    input {
      width: 100%;
      font-size: 18px;
      color: $dark;
      border: none;
      background: none;
      padding-left: 15px;
    }
  }

  .close-btn {
    margin-left: 30px;
    color: rgba($white, $alpha: 0.7);
    font-size: 25px;
    cursor: pointer;

    &:hover {
      color: rgba($white, $alpha: 1);
    }
  }
}
</style>