@import '../../components/_vars.scss';
@import '../../components/_mixins.scss';

.event{
	padding: 100px 0 120px;
	// Media
	@include md{
		padding: 50px 0;
	}

	.btns-wrapper{
		display: flex;
		justify-content: space-between;
		margin: 60px 0;
		flex-wrap: wrap;
		// media
		@include xl{
			justify-content: center;
			gap: 20px;
		}

		.btn{
			width: 165px;
			height: 55px;
			border: 1px solid $border_color;
			font-size: 18px;
			font-weight: 500;
			color: $dark;
			text-transform: uppercase;
			position: relative;
			transform: translate(-6px, -6px);
			transition: 0.5s;
			// Media
			@include md{
				width: 125px;
				height: 40px;
				font-size: 15px;
			}

			&.active{
				height: 61px;
				border: none;
				// Media
				@include md{
					height: 45px;
				}

				&::before{
					transform: translate(0);
					height: 61px;
					// Media
					@include md{
						height: 45px;
					}
				}

				span{
					background: $dark;
					color: $white;
				}
			}

			&:hover{
				height: 61px;

				&::before{
					transform: translate(0);
					height: 61px;
				}
			}

			span{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: #F9F9F9;
				z-index: 2;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: 0.5s;
			}

			&::before{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border: 1px solid $border_color;
				transform: translate(6px, 6px);
				z-index: 1;
				transition: 0.5s;
			}
		}
	}

	.cards-wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 30px;
		// Media
		@include lg{
			justify-content: center;
		}

		.card{
			width: 350px;
			height: 280px;
			position: relative;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			cursor: pointer;
			// Media
			@include xl{
				width: 290px;
				height: 230px;
			}

			img{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				z-index: 1;
			}

			.title{
				font-size: 24px;
				font-weight: 500;
				color: $white;
				text-transform: uppercase;
				margin-bottom: 30px;
				position: relative;
				z-index: 2;
			}
		}
	}
}